@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;700&display=swap);

body {
    font-family: Comfortaa, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    max-height:100%;
}

p:hover{
    text-decoration:underline;
}

.bad-message{
    margin-top:5%;
    color:#eb272a;
    cursor:pointer;
}

.bad-message:hover{
    text-decoration:underline;
}

#logo_image{
    max-height:110px;
    max-width:110px;
}

#title{
    max-height:55px;
    max-width:318px;
}

.container {
font-family: Comfortaa, sans-serif;
    display:flex;
    flex-direction:column;
    justify-contents:center;
    align-items:center;
    text-align: center; /* Optional: Center-align text content */
    margin: 0 auto;
    max-width: 1000px;
    margin-top:3%;
    margin-bottom:3%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo-title{
font-family: Comfortaa, sans-serif;
    display:flex;
    justify-contents:center;
    flex-direction:row;
    align-items:center;
    width:100%;
    padding:10px;
    background-color:#fff;
    height:auto;
    text-align:center;
}

.directory{
font-family: Comfortaa, sans-serif;
    display:flex;
    height:auto;
    margin-top:15px;
    width:100%;
    padding:10px;
    background-color:#fff;
}

.welcome{
font-family: Comfortaa, sans-serif;
    width:15%;
    height:100px;
    background-color:#fff;
    text-align:left;
}

.buttons{
font-family: Comfortaa, sans-serif;
    display:flex;
    flex-direction:rows;
    width:70%;
    margin-left:15px;
    height:100px;
    background-color:#fff;
    align-items:center;
    justify-contents:center;
}

.txt{
font-family: Comfortaa, sans-serif;
    font-weight:bold;
    color:#434343;
    font-size:30px;
}

.sub-txt{
font-family: Comfortaa, sans-serif;
    margin-top:10px;
    color:#434343;
    font-size:15px;
}

.home-title{
font-family: Comfortaa, sans-serif;
    display:flex;
    flex-direction:column;
    width:70%;
    margin-left:15px;
    height:100px;
    background-color:#fff;
}

.signup-form {
font-family: Comfortaa, sans-serif;
    text-align: center;
}

.login-form{
font-family: Comfortaa, sans-serif;
    text-align: center;
}

h2 {
font-family: Comfortaa, sans-serif;
    color: #333;
}

.input-container {
    font-family: Comfortaa, sans-serif;
    margin: 15px 0;
    text-align: left;
}

label {
    font-family: Comfortaa, sans-serif;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
font-family: Comfortaa, sans-serif;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.submit-btn {
font-family: Comfortaa, sans-serif;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.submit-btn:hover {
    background-color: #5b05cc;
    transition: ease-in-out 0.2s;
    font-family: Comfortaa, sans-serif;
}

p {
    margin-left:22px;
    margin-top: 6px;
    font-size: 14px;
    font-family: Comfortaa, sans-serif;
}

#help_button{
    margin-left:22px;
    margin-top: 33px;
    font-size: 14px;
    font-family: Comfortaa, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
    font-family: Comfortaa, sans-serif;
}

#notepad-icon{
    font-size:50px;
}

#calendar-icon{
    font-size:50px;
}

#trash-icon{
    font-size:50px;
}

#passwords-icon{
    font-size:50px;
}

.button{
    text-align:center;
    padding:10px;
    border-radius:15px;
    margin-left:20px;
    margin-right:20px;
    width:80px;
    transition:0.2s ease-in-out;
}

.button:hover{
    transition:0.3s ease-in-out;
    background-color: #f4f4f4;
}

#gif_image{
    margin-left:15%;
    border-radius:15px;
    max-width:400px;
    max-height:300px;
}

#message{
    max-width:100%;
    width: 75%;
    height: 4rem;
}